<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="container">
      <img alt="Silhouette of a person's head" src="../../assets/images/aisyah.jpg" />
      <h2><strong>AISYAH (2201301130)</strong></h2>
      <h4>Sosial Media</h4>
      <h5>Instagram<a href="https://instagram.com/_sahhhh1?igshid=ZGUzMzM3NWJiOQ==">@NR_ASHHH</a></h5>
      <h5>Tiktok<a href="https://www.tiktok.com/@sah_nrr">@sah_nrr</a></h5>
      <p>Email : nur.aisyah@mhs.politala.ac.id</p>
    </div>
  </ion-content>
</ion-content>
